POSTGRES_DB=kusafe_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
JWT_KEY=replace-with-at-least-64-random-characters
OLLAMA_MODEL=llama3.1:8b
MODERATION_VOTES=5
BACKEND_TAG=master
FRONTEND_TAG=master
AI_ASSISTANT_TAG=master
GAME_MODERATION_TAG=master
